# Directories
WATCH_DIRECTORY=./input
STAGING_DIRECTORY=./staging
OUTPUT_DIRECTORY=./output

# AES key (must be base64-encoded)
ENCRYPTION_KEY=REPLACE_WITH_BASE64_AES_KEY

# File Types and Intervals
FILE_EXTENSIONS=csv,txt,json
SLEEP_INTERVAL_MIN=60
SLEEP_INTERVAL_MAX=120
